.title {
    text-align: center;
    background-color: grey;
    margin: 0;
    padding: 5px 0 5px 0;
}

ul {
    padding: 0;
}

li {
    border: solid black 2px;
    width: 30%;
    margin: 5px;
    border-radius: 5px;
    list-style-type: none;
    position: relative;
    padding-left: 5px;
}

.right {
    position: absolute;
    right: 0px;
    background-color: green;
    padding: 0 3px 0 3px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

input.tarea {
    padding: 5px;   
    width: 30%;
}

input.submit {
    padding: 5px;
    width: 5%
}